@import "./css-reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Roboto, --sans-serif;
}

body {
  --sidebar-width: 250px;
  --sidebar-color: #2E294E;
  --sidebar-selected-color: #EFBCD5;
  --sidebar-hovered-color: #BE97C6;
  --main-background-color: #FBEFF5;
  --section-hovered-color: #E7D7EA;

  min-height: 100vh;
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
}

.sidebar {
  background-color: var(--sidebar-color);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 60px;

  > :first-child {
    margin-top: 10vh;
  }
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menu-button {
  color: inherit;
  background-color: inherit;
  border: none;
  width: 100%;
  text-align: start;
  padding: 8px calc(var(--sidebar-width) * 0.2);
  font-size: 1.2rem;

  &:hover {
    background-color: var(--sidebar-hovered-color);
  }

  &.selected {
    background-color: var(--sidebar-selected-color);
    color: black;
  }
}

#new-task, #new-project {
  display: flex;
  gap: 8px;
  align-items: center;

  > img {
    width: 2rem;
    filter: brightness(0) invert(1);
  }
}

.main {
  padding: 28px 8px;
  background-color: var(--main-background-color);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-left: 18px;
}

select, input, textarea {
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  padding: 2px 8px;
}

select:hover {
  background-color: rgb(238, 238, 238);
}

.todo-list-container {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.todo-list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.task {
  list-style: none;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 36px 1fr 40px;
  padding: 4px 10px;
  gap: 0 12px;

  &:hover {
    background-color: var(--section-hovered-color);
  }
}

.priority-low {
  border-left: 6px solid gray;
}

.priority-medium {
  border-left: 6px solid orange;
}

.priority-high {
  border-left: 6px solid red;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  
  [type="checkbox"] {
    --size: 25px;

    width: var(--size);
    height: var(--size);
  }
}

.description {
  padding: 8px 0;
}

.due-date-project-container {
  display: flex;
  justify-content: space-between;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    --size: 2rem;

    width: var(--size);
    height: var(--size);
    padding: 2px;
  }
}

dialog {
  border-radius: 10px;

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 400px;

    p {
      display: flex;
      flex-direction: column;
    }

    label {
      font-weight: 500;
      margin-bottom: 4px;
    }
  }
}

.dialog-header {
  font-size: 1.4rem;
}

.dialog-button-container {
  display: flex;
  justify-content: space-evenly;
}

#delete-confirmation-dialog {
  .dialog-header {
    margin-bottom: 18px;
  } 
}